<!DOCTYPE html>
<html>
<head>
  <title>Profile Picture</title>
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background-color: #f9f9f9;
    }
    
    .container {
      background-color: #f1f1f1;
      padding: 80px;
      border-radius: 10px;
      
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Change Profile Picture</h1>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Save</button>
    </form>
  </div>
</body>
</html>
